Repository hululu1068/OpenWRT-Code, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/archs38, target/armvirt, target/at91, target/ath25, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bcm63xx, target/bmips, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/kirkwood, target/lantiq, target/layerscape, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/octeontx, target/omap, target/oxnas, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

Update README.md
  README.md
Labels: none

Update 0105.config
  0105.config
Labels: none

Delete .github/workflows directory
  .github/workflows/Dockerfile.tools
  .github/workflows/build.yml
  .github/workflows/check-kernel-patches.yml
  .github/workflows/formal.yml
  .github/workflows/kernel.yml
  .github/workflows/labeler.yml
  .github/workflows/packages.yml
  .github/workflows/scripts/ci_helpers.sh
  .github/workflows/scripts/show_build_failures.sh
  .github/workflows/tools.yml
Labels: GitHub/CI

Update reanme.md
  README.md
Labels: none

Update banner
  package/base-files/files/etc/banner
Labels: core packages

Update banner
  package/base-files/files/etc/banner
Labels: core packages

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

modified README.md
  README.md
Labels: none

Revise README
  README.md
Labels: none

Revise README
  README.md
Labels: none

.github/labeler.yml:

# target/*
"target/airoha":
  - "target/linux/airoha/**"
"target/apm821xx":
  - "target/linux/apm821xx/**"
"target/archs38":
  - "target/linux/archs38/**"
"target/armvirt":
  - "target/linux/armvirt/**"
"target/at91":
  - "target/linux/at91/**"
"target/ath25":
  - "target/linux/ath25/**"
"target/ath79":
  - "target/linux/ath79/**"
"target/bcm27xx":
  - "target/linux/bcm27xx/**"
"target/bcm47xx":
  - "target/linux/bcm47xx/**"
"target/bcm4908":
  - "target/linux/bcm4908/**"
"target/bcm53xx":
  - "target/linux/bcm53xx/**"
"target/bcm63xx":
  - "target/linux/bcm63xx/**"
"target/bmips":
  - "target/linux/bmips/**"
"target/gemini":
  - "target/linux/gemini/**"
"target/imx":
  - "target/linux/imx/**"
"target/ipq40xx":
  - "target/linux/ipq40xx/**"
"target/ipq806x":
  - "target/linux/ipq806x/**"
"target/kirkwood":
  - "target/linux/kirkwood/**"
"target/lantiq":
  - "target/linux/lantiq/**"
"target/layerscape":
  - "target/linux/layerscape/**"
"target/malta":
  - "target/linux/malta/**"
"target/mediatek":
  - "target/linux/mediatek/**"
"target/mpc85xx":
  - "target/linux/mpc85xx/**"
"target/mvebu":
  - "target/linux/mvebu/**"
"target/mxs":
  - "target/linux/mxs/**"
"target/octeon":
  - "target/linux/octeon/**"
"target/octeontx":
  - "target/linux/octeontx/**"
"target/omap":
  - "target/linux/omap/**"
"target/oxnas":
  - "target/linux/oxnas/**"
"target/pistachio":
  - "target/linux/pistachio/**"
"target/qoriq":
  - "target/linux/qoriq/**"
"target/ramips":
  - "target/linux/ramips/**"
"target/realtek":
  - "target/linux/realtek/**"
"target/rockchip":
  - "target/linux/rockchip/**"
"target/sunxi":
  - "target/linux/sunxi/**"
"target/tegra":
  - "target/linux/tegra/**"
"target/uml":
  - "target/linux/uml/**"
"target/x86":
  - "target/linux/x86/**"
"target/zynq":
  - "target/linux/zynq/**"
# target/imagebuilder
"target/imagebuilder":
  - "target/imagebuilder/**"
# kernel
"kernel":
  - "target/linux/generic/**"
  - "target/linux/**/config-*"
  - "target/linux/**/patches-*"
  - "target/linux/**/files/**"
  - "package/kernel/linux/**"
# core packages
"core packages":
  - "package/**"
# build/scripts/tools
"build/scripts/tools":
  - "include/**"
  - "scripts/**"
  - "tools/**"
# toolchain
"toolchain":
  - "toolchain/**"
# GitHub/CI
"GitHub/CI":
  - ".github/**"
